{% extends 'cms/base.html'%}
{% block body_block %}

		<form name= "form2" methods="post">
			<center>
					<tr>
					<td>
						CHANGE PASSWORD
					</td>
					</tr>
					<table >
					<tr>
					<td>
						<input type="password" name="password" required placeholder="Enter Current Password" maxlength="30" />
						<hr/>

					</td></tr>
					
					<tr>
						<br/>
					<td>
						<hr/>
						<input type="password" name="password" required placeholder="Enter New Password" maxlength="30" />
						<hr/>

					</td></tr>
						<tr>
						<br/>
					<td>
						<hr/>
						<input type="password" name="password" required placeholder="Confirm New Password" maxlength="30" />
						<hr/>

					</td></tr>
					<tr>
					<td colspan="2">
						&nbsp; &nbsp;
						<input type="submit" name="btnsubmit"  value="Change" />
						&nbsp; 
						<input type="submit" name="btnsubmit"  value="Cancel" />

					</td>
					</tr></table>
					
					
			</center>
		</form>
{% endblock %}